<div class="parallax-wrapper"></div>
<div class="container">

    <header class="row" role="banner">
        <a id="left-menu" class="hidden-lg-up main-menu-mobile">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
        <div class="responsive-main-menu">
            <i class="fa fa-times-circle-o close-menu" aria-hidden="true"></i>
            <div class="clearfix"></div>
        </div>
        <div class="container">
            {{ page.header }}
            {{ page.primary_menu }}
        </div>
    </header>
</div>
<div class="parallax-wrapper"></div>
<div class="container">

    <main class="row">
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

        {% if page.sidebar %}
            <aside class="layout-sidebar-first col-xs-12 col-sm-12 col-md-12 col-lg-3 " role="complementary">
                {{ page.sidebar }}
            </aside>
        {% endif %}

        <div class="col">
            {% if taxonomy_title %}
                <h1 class="generic-title text-uppercase">{{ taxonomy_title }}</h1>
            {% endif %}
            {#{{ page.breadcrumb }}#}
            {{ page.content }}
        </div>{# /.layout-content #}

        {% if page.sidebar_right %}
            <aside class="layout-sidebar-first col-xs-12 col-sm-12 col-md-12 col-lg-3 " role="complementary">
                <div class="socialMedia"><h5>Share this page</h5></div>
                {{ page.sidebar_right }}
            </aside>
        {% endif %}
    </main>
</div>

<div class="parallax-wrapper"></div>
{% if page.bottom %}
    <div class="container">

        <div class="row">
            {{ page.bottom }}
        </div>
    </div>
{% endif %}
<div class="parallax-wrapper"></div>

<div class="footer-wrapper">
    <div class="container">
        {% if page.footer %}
            <footer role="contentinfo" class="row">
                {{ page.footer }}
            </footer>
        {% endif %}

    </div>{# /.layout-container #}
</div>

